In [44]:
import pandas as pd

In [45]:
# import data
df = pd.read_csv('/Users/agneslu/Desktop/neighborhood-data/data-new/vehicle/ACSDT5Y2023.B25044-Data.csv')
df.head(3)

,GEO_ID,NAME,B25044_001E,B25044_001M,B25044_002E,B25044_002M,B25044_003E,B25044_003M,B25044_004E,B25044_004M,...,B25044_011M,B25044_012E,B25044_012M,B25044_013E,B25044_013M,B25044_014E,B25044_014M,B25044_015E,B25044_015M,Unnamed: 32
0,Geography,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Owner occupied:,Margin of Error!!Total:!!Owner occupied:,Estimate!!Total:!!Owner occupied:!!No vehicle ...,Margin of Error!!Total:!!Owner occupied:!!No v...,Estimate!!Total:!!Owner occupied:!!1 vehicle a...,Margin of Error!!Total:!!Owner occupied:!!1 ve...,...,Margin of Error!!Total:!!Renter occupied:!!1 v...,Estimate!!Total:!!Renter occupied:!!2 vehicles...,Margin of Error!!Total:!!Renter occupied:!!2 v...,Estimate!!Total:!!Renter occupied:!!3 vehicles...,Margin of Error!!Total:!!Renter occupied:!!3 v...,Estimate!!Total:!!Renter occupied:!!4 vehicles...,Margin of Error!!Total:!!Renter occupied:!!4 v...,Estimate!!Total:!!Renter occupied:!!5 or more ...,Margin of Error!!Total:!!Renter occupied:!!5 o...,NaN
1,1400000US06075010101,Census Tract 101.01; San Francisco County; Cal...,1212,143,113,74,0,14,51,44,...,154,40,40,0,14,0,14,0,14,NaN
2,1400000US06075010102,Census Tract 101.02; San Francisco County; Cal...,907,200,302,93,22,28,235,97,...,61,103,44,10,20,0,14,0,14,NaN

In [46]:
# drop the first column
df = df.drop(df.columns[0], axis=1)
df.head(3)

,NAME,B25044_001E,B25044_001M,B25044_002E,B25044_002M,B25044_003E,B25044_003M,B25044_004E,B25044_004M,B25044_005E,...,B25044_011M,B25044_012E,B25044_012M,B25044_013E,B25044_013M,B25044_014E,B25044_014M,B25044_015E,B25044_015M,Unnamed: 32
0,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Owner occupied:,Margin of Error!!Total:!!Owner occupied:,Estimate!!Total:!!Owner occupied:!!No vehicle ...,Margin of Error!!Total:!!Owner occupied:!!No v...,Estimate!!Total:!!Owner occupied:!!1 vehicle a...,Margin of Error!!Total:!!Owner occupied:!!1 ve...,Estimate!!Total:!!Owner occupied:!!2 vehicles ...,...,Margin of Error!!Total:!!Renter occupied:!!1 v...,Estimate!!Total:!!Renter occupied:!!2 vehicles...,Margin of Error!!Total:!!Renter occupied:!!2 v...,Estimate!!Total:!!Renter occupied:!!3 vehicles...,Margin of Error!!Total:!!Renter occupied:!!3 v...,Estimate!!Total:!!Renter occupied:!!4 vehicles...,Margin of Error!!Total:!!Renter occupied:!!4 v...,Estimate!!Total:!!Renter occupied:!!5 or more ...,Margin of Error!!Total:!!Renter occupied:!!5 o...,NaN
1,Census Tract 101.01; San Francisco County; Cal...,1212,143,113,74,0,14,51,44,62,...,154,40,40,0,14,0,14,0,14,NaN
2,Census Tract 101.02; San Francisco County; Cal...,907,200,302,93,22,28,235,97,45,...,61,103,44,10,20,0,14,0,14,NaN

In [47]:
# change NAME to Area
df = df.rename(columns={'NAME': 'Area'})
df.head(3)

,Area,B25044_001E,B25044_001M,B25044_002E,B25044_002M,B25044_003E,B25044_003M,B25044_004E,B25044_004M,B25044_005E,...,B25044_011M,B25044_012E,B25044_012M,B25044_013E,B25044_013M,B25044_014E,B25044_014M,B25044_015E,B25044_015M,Unnamed: 32
0,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Owner occupied:,Margin of Error!!Total:!!Owner occupied:,Estimate!!Total:!!Owner occupied:!!No vehicle ...,Margin of Error!!Total:!!Owner occupied:!!No v...,Estimate!!Total:!!Owner occupied:!!1 vehicle a...,Margin of Error!!Total:!!Owner occupied:!!1 ve...,Estimate!!Total:!!Owner occupied:!!2 vehicles ...,...,Margin of Error!!Total:!!Renter occupied:!!1 v...,Estimate!!Total:!!Renter occupied:!!2 vehicles...,Margin of Error!!Total:!!Renter occupied:!!2 v...,Estimate!!Total:!!Renter occupied:!!3 vehicles...,Margin of Error!!Total:!!Renter occupied:!!3 v...,Estimate!!Total:!!Renter occupied:!!4 vehicles...,Margin of Error!!Total:!!Renter occupied:!!4 v...,Estimate!!Total:!!Renter occupied:!!5 or more ...,Margin of Error!!Total:!!Renter occupied:!!5 o...,NaN
1,Census Tract 101.01; San Francisco County; Cal...,1212,143,113,74,0,14,51,44,62,...,154,40,40,0,14,0,14,0,14,NaN
2,Census Tract 101.02; San Francisco County; Cal...,907,200,302,93,22,28,235,97,45,...,61,103,44,10,20,0,14,0,14,NaN

In [48]:
# drop the margin columns
df = df[df.columns.drop(list(df.filter(regex='M')))]
df.head(3)

,Area,B25044_001E,B25044_002E,B25044_003E,B25044_004E,B25044_005E,B25044_006E,B25044_007E,B25044_008E,B25044_009E,B25044_010E,B25044_011E,B25044_012E,B25044_013E,B25044_014E,B25044_015E,Unnamed: 32
0,Geographic Area Name,Estimate!!Total:,Estimate!!Total:!!Owner occupied:,Estimate!!Total:!!Owner occupied:!!No vehicle ...,Estimate!!Total:!!Owner occupied:!!1 vehicle a...,Estimate!!Total:!!Owner occupied:!!2 vehicles ...,Estimate!!Total:!!Owner occupied:!!3 vehicles ...,Estimate!!Total:!!Owner occupied:!!4 vehicles ...,Estimate!!Total:!!Owner occupied:!!5 or more v...,Estimate!!Total:!!Renter occupied:,Estimate!!Total:!!Renter occupied:!!No vehicle...,Estimate!!Total:!!Renter occupied:!!1 vehicle ...,Estimate!!Total:!!Renter occupied:!!2 vehicles...,Estimate!!Total:!!Renter occupied:!!3 vehicles...,Estimate!!Total:!!Renter occupied:!!4 vehicles...,Estimate!!Total:!!Renter occupied:!!5 or more ...,NaN
1,Census Tract 101.01; San Francisco County; Cal...,1212,113,0,51,62,0,0,0,1099,459,600,40,0,0,0,NaN
2,Census Tract 101.02; San Francisco County; Cal...,907,302,22,235,45,0,0,0,605,281,211,103,10,0,0,NaN

In [49]:
# drop the last column, the header is NaN
df = df.drop(df.columns[-1], axis=1)
df.head(3)

,Area,B25044_001E,B25044_002E,B25044_003E,B25044_004E,B25044_005E,B25044_006E,B25044_007E,B25044_008E,B25044_009E,B25044_010E,B25044_011E,B25044_012E,B25044_013E,B25044_014E,B25044_015E
0,Geographic Area Name,Estimate!!Total:,Estimate!!Total:!!Owner occupied:,Estimate!!Total:!!Owner occupied:!!No vehicle ...,Estimate!!Total:!!Owner occupied:!!1 vehicle a...,Estimate!!Total:!!Owner occupied:!!2 vehicles ...,Estimate!!Total:!!Owner occupied:!!3 vehicles ...,Estimate!!Total:!!Owner occupied:!!4 vehicles ...,Estimate!!Total:!!Owner occupied:!!5 or more v...,Estimate!!Total:!!Renter occupied:,Estimate!!Total:!!Renter occupied:!!No vehicle...,Estimate!!Total:!!Renter occupied:!!1 vehicle ...,Estimate!!Total:!!Renter occupied:!!2 vehicles...,Estimate!!Total:!!Renter occupied:!!3 vehicles...,Estimate!!Total:!!Renter occupied:!!4 vehicles...,Estimate!!Total:!!Renter occupied:!!5 or more ...
1,Census Tract 101.01; San Francisco County; Cal...,1212,113,0,51,62,0,0,0,1099,459,600,40,0,0,0
2,Census Tract 101.02; San Francisco County; Cal...,907,302,22,235,45,0,0,0,605,281,211,103,10,0,0

In [50]:
# rename columns
column_mapping = {}
for i, col in enumerate(df.columns):
    if i < len(df.iloc[0]):  # Make sure we don't go out of bounds
        column_mapping[col] = df.iloc[0, i]

df = df.rename(columns=column_mapping)
df.head(3)

,Geographic Area Name,Estimate!!Total:,Estimate!!Total:!!Owner occupied:,Estimate!!Total:!!Owner occupied:!!No vehicle available,Estimate!!Total:!!Owner occupied:!!1 vehicle available,Estimate!!Total:!!Owner occupied:!!2 vehicles available,Estimate!!Total:!!Owner occupied:!!3 vehicles available,Estimate!!Total:!!Owner occupied:!!4 vehicles available,Estimate!!Total:!!Owner occupied:!!5 or more vehicles available,Estimate!!Total:!!Renter occupied:,Estimate!!Total:!!Renter occupied:!!No vehicle available,Estimate!!Total:!!Renter occupied:!!1 vehicle available,Estimate!!Total:!!Renter occupied:!!2 vehicles available,Estimate!!Total:!!Renter occupied:!!3 vehicles available,Estimate!!Total:!!Renter occupied:!!4 vehicles available,Estimate!!Total:!!Renter occupied:!!5 or more vehicles available
0,Geographic Area Name,Estimate!!Total:,Estimate!!Total:!!Owner occupied:,Estimate!!Total:!!Owner occupied:!!No vehicle ...,Estimate!!Total:!!Owner occupied:!!1 vehicle a...,Estimate!!Total:!!Owner occupied:!!2 vehicles ...,Estimate!!Total:!!Owner occupied:!!3 vehicles ...,Estimate!!Total:!!Owner occupied:!!4 vehicles ...,Estimate!!Total:!!Owner occupied:!!5 or more v...,Estimate!!Total:!!Renter occupied:,Estimate!!Total:!!Renter occupied:!!No vehicle...,Estimate!!Total:!!Renter occupied:!!1 vehicle ...,Estimate!!Total:!!Renter occupied:!!2 vehicles...,Estimate!!Total:!!Renter occupied:!!3 vehicles...,Estimate!!Total:!!Renter occupied:!!4 vehicles...,Estimate!!Total:!!Renter occupied:!!5 or more ...
1,Census Tract 101.01; San Francisco County; Cal...,1212,113,0,51,62,0,0,0,1099,459,600,40,0,0,0
2,Census Tract 101.02; San Francisco County; Cal...,907,302,22,235,45,0,0,0,605,281,211,103,10,0,0

In [51]:
# remove the first row
df = df.drop(df.index[0])  
df = df.reset_index(drop=True)
df.head(3)

,Geographic Area Name,Estimate!!Total:,Estimate!!Total:!!Owner occupied:,Estimate!!Total:!!Owner occupied:!!No vehicle available,Estimate!!Total:!!Owner occupied:!!1 vehicle available,Estimate!!Total:!!Owner occupied:!!2 vehicles available,Estimate!!Total:!!Owner occupied:!!3 vehicles available,Estimate!!Total:!!Owner occupied:!!4 vehicles available,Estimate!!Total:!!Owner occupied:!!5 or more vehicles available,Estimate!!Total:!!Renter occupied:,Estimate!!Total:!!Renter occupied:!!No vehicle available,Estimate!!Total:!!Renter occupied:!!1 vehicle available,Estimate!!Total:!!Renter occupied:!!2 vehicles available,Estimate!!Total:!!Renter occupied:!!3 vehicles available,Estimate!!Total:!!Renter occupied:!!4 vehicles available,Estimate!!Total:!!Renter occupied:!!5 or more vehicles available
0,Census Tract 101.01; San Francisco County; Cal...,1212,113,0,51,62,0,0,0,1099,459,600,40,0,0,0
1,Census Tract 101.02; San Francisco County; Cal...,907,302,22,235,45,0,0,0,605,281,211,103,10,0,0
2,Census Tract 102.01; San Francisco County; Cal...,1375,535,122,227,91,95,0,0,840,330,387,123,0,0,0

In [52]:
# change Geographic Area Name to Area
df = df.rename(columns={'Geographic Area Name': 'Area'})

In [53]:
# only keep numbers for the area column
df['Area'] = df['Area'].str.replace(r'.*Census Tract\s+', '', regex=True)  # remove everything before tract number
df['Area'] = df['Area'].str.replace(r';.*', '', regex=True)  # remove everything after semicolon
df['Area'] = df['Area'].str.strip()  # remove any extra whitespace
df.head(3)

,Area,Estimate!!Total:,Estimate!!Total:!!Owner occupied:,Estimate!!Total:!!Owner occupied:!!No vehicle available,Estimate!!Total:!!Owner occupied:!!1 vehicle available,Estimate!!Total:!!Owner occupied:!!2 vehicles available,Estimate!!Total:!!Owner occupied:!!3 vehicles available,Estimate!!Total:!!Owner occupied:!!4 vehicles available,Estimate!!Total:!!Owner occupied:!!5 or more vehicles available,Estimate!!Total:!!Renter occupied:,Estimate!!Total:!!Renter occupied:!!No vehicle available,Estimate!!Total:!!Renter occupied:!!1 vehicle available,Estimate!!Total:!!Renter occupied:!!2 vehicles available,Estimate!!Total:!!Renter occupied:!!3 vehicles available,Estimate!!Total:!!Renter occupied:!!4 vehicles available,Estimate!!Total:!!Renter occupied:!!5 or more vehicles available
0,101.01,1212,113,0,51,62,0,0,0,1099,459,600,40,0,0,0
1,101.02,907,302,22,235,45,0,0,0,605,281,211,103,10,0,0
2,102.01,1375,535,122,227,91,95,0,0,840,330,387,123,0,0,0

In [54]:
# get rid of Estimate!!Total:!! in column names
df.columns = df.columns.str.replace('Estimate!!Total:!!', '', regex=True)
df.head(3)

,Area,Estimate!!Total:,Owner occupied:,Owner occupied:!!No vehicle available,Owner occupied:!!1 vehicle available,Owner occupied:!!2 vehicles available,Owner occupied:!!3 vehicles available,Owner occupied:!!4 vehicles available,Owner occupied:!!5 or more vehicles available,Renter occupied:,Renter occupied:!!No vehicle available,Renter occupied:!!1 vehicle available,Renter occupied:!!2 vehicles available,Renter occupied:!!3 vehicles available,Renter occupied:!!4 vehicles available,Renter occupied:!!5 or more vehicles available
0,101.01,1212,113,0,51,62,0,0,0,1099,459,600,40,0,0,0
1,101.02,907,302,22,235,45,0,0,0,605,281,211,103,10,0,0
2,102.01,1375,535,122,227,91,95,0,0,840,330,387,123,0,0,0

In [55]:
# combine a few columns
df['No vehicle'] = df[['Owner occupied:!!No vehicle available', 'Renter occupied:!!No vehicle available']].apply(pd.to_numeric, errors='coerce').sum(axis=1)
df['One vehicle'] = df[['Owner occupied:!!1 vehicle available', 'Renter occupied:!!1 vehicle available']].apply(pd.to_numeric, errors='coerce').sum(axis=1)
df['Two vehicles'] = df[['Owner occupied:!!2 vehicles available', 'Renter occupied:!!2 vehicles available']].apply(pd.to_numeric, errors='coerce').sum(axis=1)
df['Three or more vehicles'] = df[['Owner occupied:!!3 vehicles available', 'Owner occupied:!!4 vehicles available', 'Owner occupied:!!5 or more vehicles available', 'Renter occupied:!!3 vehicles available', 'Renter occupied:!!4 vehicles available', 'Renter occupied:!!5 or more vehicles available']].apply(pd.to_numeric, errors='coerce').sum(axis=1)
# only keep the columns we need
columns_to_keep = ['Area', 'Estimate!!Total:', 'No vehicle', 'One vehicle', 'Two vehicles', 'Three or more vehicles']
df = df[columns_to_keep]
df.head(3)

,Area,Estimate!!Total:,No vehicle,One vehicle,Two vehicles,Three or more vehicles
0,101.01,1212,459,651,102,0
1,101.02,907,303,446,148,10
2,102.01,1375,452,614,214,95

In [56]:
# change estimate total column name to Total
df = df.rename(columns={'Estimate!!Total:': 'Total'})
df.head(3)

     Area Total  No vehicle  One vehicle  Two vehicles  Three or more vehicles
0  101.01  1212         459          651           102                       0
1  101.02   907         303          446           148                      10
2  102.01  1375         452          614           214                      95

In [57]:
# convert numeric columns to proper data types
numeric_columns = ['Total', 'No vehicle', 'One vehicle', 'Two vehicles', 'Three or more vehicles']
df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric, errors='coerce')

# create the dictionary in the format you want
result_dict = {
    'no vehicle': df.set_index('Area')['No vehicle'].to_dict(),
    'one vehicle': df.set_index('Area')['One vehicle'].to_dict(), 
    'two vehicles': df.set_index('Area')['Two vehicles'].to_dict(),
    'three or more vehicles': df.set_index('Area')['Three or more vehicles'].to_dict(),
    'total': df.set_index('Area')['Total'].to_dict()
}

# convert to JSON and save to file
import json

with open('/Users/agneslu/Desktop/neighborhood-data/data-new/vehicles.json', 'w') as f:
    json.dump(result_dict, f, indent=2)

print("JSON file saved as 'vehicles.json'")

JSON file saved as 'vehicles.json'