In [1]:
import pandas as pd

In [5]:
# import neighborhood csv
neighborhoods = pd.read_csv('neighborhoods.csv')
neighborhoods

     Unnamed: 0  precinct               district           neighborhood
0             1   9809.00  Bayview Hunters Point  Bayview Hunters Point
1             2   9806.00  Bayview Hunters Point  Bayview Hunters Point
2             3    612.00  Bayview Hunters Point  Bayview Hunters Point
3             4    610.00  Bayview Hunters Point  Bayview Hunters Point
4             5    230.03  Bayview Hunters Point  Bayview Hunters Point
..          ...       ...                    ...                    ...
237         238    160.00       Western Addition       Western Addition
238         239    159.00       Western Addition       Western Addition
239         240    158.02       Western Addition       Western Addition
240         241    158.01       Western Addition       Western Addition
241         242    151.00       Western Addition       Western Addition

[242 rows x 4 columns]

In [6]:
# drop the first column
neighborhoods = neighborhoods.drop(columns=['Unnamed: 0'])

In [7]:
# change column names
neighborhoods.columns = ['tract', 'neighborhood', 'note']

In [8]:
# change all the last column values to string "empty"
neighborhoods['note'] = 'empty'

In [9]:
neighborhoods

       tract           neighborhood   note
0    9809.00  Bayview Hunters Point  empty
1    9806.00  Bayview Hunters Point  empty
2     612.00  Bayview Hunters Point  empty
3     610.00  Bayview Hunters Point  empty
4     230.03  Bayview Hunters Point  empty
..       ...                    ...    ...
237   160.00       Western Addition  empty
238   159.00       Western Addition  empty
239   158.02       Western Addition  empty
240   158.01       Western Addition  empty
241   151.00       Western Addition  empty

[242 rows x 3 columns]

In [ ]:
# export to csv
neighborhoods.to_csv('data/lookup.csv', index=False)