In [54]:
import pandas as pd

In [55]:
# import data
df = pd.read_csv('/Users/agneslu/Desktop/neighborhood-data/data-new/disability/ACSDT5Y2023.B18101-Data.csv')
df.head(3)

,GEO_ID,NAME,B18101_001E,B18101_001M,B18101_002E,B18101_002M,B18101_003E,B18101_003M,B18101_004E,B18101_004M,...,B18101_035M,B18101_036E,B18101_036M,B18101_037E,B18101_037M,B18101_038E,B18101_038M,B18101_039E,B18101_039M,Unnamed: 80
0,Geography,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Male:,Margin of Error!!Total:!!Male:,Estimate!!Total:!!Male:!!Under 5 years:,Margin of Error!!Total:!!Male:!!Under 5 years:,Estimate!!Total:!!Male:!!Under 5 years:!!With ...,Margin of Error!!Total:!!Male:!!Under 5 years:...,...,Margin of Error!!Total:!!Female:!!65 to 74 yea...,Estimate!!Total:!!Female:!!65 to 74 years:!!No...,Margin of Error!!Total:!!Female:!!65 to 74 yea...,Estimate!!Total:!!Female:!!75 years and over:,Margin of Error!!Total:!!Female:!!75 years and...,Estimate!!Total:!!Female:!!75 years and over:!...,Margin of Error!!Total:!!Female:!!75 years and...,Estimate!!Total:!!Female:!!75 years and over:!...,Margin of Error!!Total:!!Female:!!75 years and...,NaN
1,1400000US06075010101,Census Tract 101.01; San Francisco County; Cal...,2004,297,1077,173,22,27,0,14,...,66,42,40,93,57,89,58,4,10,NaN
2,1400000US06075010102,Census Tract 101.02; San Francisco County; Cal...,1795,345,786,172,29,34,0,14,...,55,84,52,119,71,58,67,61,52,NaN

In [56]:
# drop the first column
df = df.drop(df.columns[0], axis=1)
df.head(3)

,NAME,B18101_001E,B18101_001M,B18101_002E,B18101_002M,B18101_003E,B18101_003M,B18101_004E,B18101_004M,B18101_005E,...,B18101_035M,B18101_036E,B18101_036M,B18101_037E,B18101_037M,B18101_038E,B18101_038M,B18101_039E,B18101_039M,Unnamed: 80
0,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Male:,Margin of Error!!Total:!!Male:,Estimate!!Total:!!Male:!!Under 5 years:,Margin of Error!!Total:!!Male:!!Under 5 years:,Estimate!!Total:!!Male:!!Under 5 years:!!With ...,Margin of Error!!Total:!!Male:!!Under 5 years:...,Estimate!!Total:!!Male:!!Under 5 years:!!No di...,...,Margin of Error!!Total:!!Female:!!65 to 74 yea...,Estimate!!Total:!!Female:!!65 to 74 years:!!No...,Margin of Error!!Total:!!Female:!!65 to 74 yea...,Estimate!!Total:!!Female:!!75 years and over:,Margin of Error!!Total:!!Female:!!75 years and...,Estimate!!Total:!!Female:!!75 years and over:!...,Margin of Error!!Total:!!Female:!!75 years and...,Estimate!!Total:!!Female:!!75 years and over:!...,Margin of Error!!Total:!!Female:!!75 years and...,NaN
1,Census Tract 101.01; San Francisco County; Cal...,2004,297,1077,173,22,27,0,14,22,...,66,42,40,93,57,89,58,4,10,NaN
2,Census Tract 101.02; San Francisco County; Cal...,1795,345,786,172,29,34,0,14,29,...,55,84,52,119,71,58,67,61,52,NaN

In [57]:
# change NAME to Area
df = df.rename(columns={'NAME': 'Area'})
df.head(3)

,Area,B18101_001E,B18101_001M,B18101_002E,B18101_002M,B18101_003E,B18101_003M,B18101_004E,B18101_004M,B18101_005E,...,B18101_035M,B18101_036E,B18101_036M,B18101_037E,B18101_037M,B18101_038E,B18101_038M,B18101_039E,B18101_039M,Unnamed: 80
0,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Male:,Margin of Error!!Total:!!Male:,Estimate!!Total:!!Male:!!Under 5 years:,Margin of Error!!Total:!!Male:!!Under 5 years:,Estimate!!Total:!!Male:!!Under 5 years:!!With ...,Margin of Error!!Total:!!Male:!!Under 5 years:...,Estimate!!Total:!!Male:!!Under 5 years:!!No di...,...,Margin of Error!!Total:!!Female:!!65 to 74 yea...,Estimate!!Total:!!Female:!!65 to 74 years:!!No...,Margin of Error!!Total:!!Female:!!65 to 74 yea...,Estimate!!Total:!!Female:!!75 years and over:,Margin of Error!!Total:!!Female:!!75 years and...,Estimate!!Total:!!Female:!!75 years and over:!...,Margin of Error!!Total:!!Female:!!75 years and...,Estimate!!Total:!!Female:!!75 years and over:!...,Margin of Error!!Total:!!Female:!!75 years and...,NaN
1,Census Tract 101.01; San Francisco County; Cal...,2004,297,1077,173,22,27,0,14,22,...,66,42,40,93,57,89,58,4,10,NaN
2,Census Tract 101.02; San Francisco County; Cal...,1795,345,786,172,29,34,0,14,29,...,55,84,52,119,71,58,67,61,52,NaN

In [58]:
# drop the margin columns
df = df[df.columns.drop(list(df.filter(regex='M')))]
df.head(3)

,Area,B18101_001E,B18101_002E,B18101_003E,B18101_004E,B18101_005E,B18101_006E,B18101_007E,B18101_008E,B18101_009E,...,B18101_031E,B18101_032E,B18101_033E,B18101_034E,B18101_035E,B18101_036E,B18101_037E,B18101_038E,B18101_039E,Unnamed: 80
0,Geographic Area Name,Estimate!!Total:,Estimate!!Total:!!Male:,Estimate!!Total:!!Male:!!Under 5 years:,Estimate!!Total:!!Male:!!Under 5 years:!!With ...,Estimate!!Total:!!Male:!!Under 5 years:!!No di...,Estimate!!Total:!!Male:!!5 to 17 years:,Estimate!!Total:!!Male:!!5 to 17 years:!!With ...,Estimate!!Total:!!Male:!!5 to 17 years:!!No di...,Estimate!!Total:!!Male:!!18 to 34 years:,...,Estimate!!Total:!!Female:!!35 to 64 years:,Estimate!!Total:!!Female:!!35 to 64 years:!!Wi...,Estimate!!Total:!!Female:!!35 to 64 years:!!No...,Estimate!!Total:!!Female:!!65 to 74 years:,Estimate!!Total:!!Female:!!65 to 74 years:!!Wi...,Estimate!!Total:!!Female:!!65 to 74 years:!!No...,Estimate!!Total:!!Female:!!75 years and over:,Estimate!!Total:!!Female:!!75 years and over:!...,Estimate!!Total:!!Female:!!75 years and over:!...,NaN
1,Census Tract 101.01; San Francisco County; Cal...,2004,1077,22,0,22,0,0,0,347,...,388,0,388,112,70,42,93,89,4,NaN
2,Census Tract 101.02; San Francisco County; Cal...,1795,786,29,0,29,64,5,59,209,...,449,166,283,123,39,84,119,58,61,NaN

In [59]:
# drop the last column, the header is NaN
df = df.drop(df.columns[-1], axis=1)
df.head(3)

,Area,B18101_001E,B18101_002E,B18101_003E,B18101_004E,B18101_005E,B18101_006E,B18101_007E,B18101_008E,B18101_009E,...,B18101_030E,B18101_031E,B18101_032E,B18101_033E,B18101_034E,B18101_035E,B18101_036E,B18101_037E,B18101_038E,B18101_039E
0,Geographic Area Name,Estimate!!Total:,Estimate!!Total:!!Male:,Estimate!!Total:!!Male:!!Under 5 years:,Estimate!!Total:!!Male:!!Under 5 years:!!With ...,Estimate!!Total:!!Male:!!Under 5 years:!!No di...,Estimate!!Total:!!Male:!!5 to 17 years:,Estimate!!Total:!!Male:!!5 to 17 years:!!With ...,Estimate!!Total:!!Male:!!5 to 17 years:!!No di...,Estimate!!Total:!!Male:!!18 to 34 years:,...,Estimate!!Total:!!Female:!!18 to 34 years:!!No...,Estimate!!Total:!!Female:!!35 to 64 years:,Estimate!!Total:!!Female:!!35 to 64 years:!!Wi...,Estimate!!Total:!!Female:!!35 to 64 years:!!No...,Estimate!!Total:!!Female:!!65 to 74 years:,Estimate!!Total:!!Female:!!65 to 74 years:!!Wi...,Estimate!!Total:!!Female:!!65 to 74 years:!!No...,Estimate!!Total:!!Female:!!75 years and over:,Estimate!!Total:!!Female:!!75 years and over:!...,Estimate!!Total:!!Female:!!75 years and over:!...
1,Census Tract 101.01; San Francisco County; Cal...,2004,1077,22,0,22,0,0,0,347,...,257,388,0,388,112,70,42,93,89,4
2,Census Tract 101.02; San Francisco County; Cal...,1795,786,29,0,29,64,5,59,209,...,132,449,166,283,123,39,84,119,58,61

In [60]:
# rename columns
column_mapping = {}
for i, col in enumerate(df.columns):
    if i < len(df.iloc[0]):  # Make sure we don't go out of bounds
        column_mapping[col] = df.iloc[0, i]

df = df.rename(columns=column_mapping)
df.head(3)

,Geographic Area Name,Estimate!!Total:,Estimate!!Total:!!Male:,Estimate!!Total:!!Male:!!Under 5 years:,Estimate!!Total:!!Male:!!Under 5 years:!!With a disability,Estimate!!Total:!!Male:!!Under 5 years:!!No disability,Estimate!!Total:!!Male:!!5 to 17 years:,Estimate!!Total:!!Male:!!5 to 17 years:!!With a disability,Estimate!!Total:!!Male:!!5 to 17 years:!!No disability,Estimate!!Total:!!Male:!!18 to 34 years:,...,Estimate!!Total:!!Female:!!18 to 34 years:!!No disability,Estimate!!Total:!!Female:!!35 to 64 years:,Estimate!!Total:!!Female:!!35 to 64 years:!!With a disability,Estimate!!Total:!!Female:!!35 to 64 years:!!No disability,Estimate!!Total:!!Female:!!65 to 74 years:,Estimate!!Total:!!Female:!!65 to 74 years:!!With a disability,Estimate!!Total:!!Female:!!65 to 74 years:!!No disability,Estimate!!Total:!!Female:!!75 years and over:,Estimate!!Total:!!Female:!!75 years and over:!!With a disability,Estimate!!Total:!!Female:!!75 years and over:!!No disability
0,Geographic Area Name,Estimate!!Total:,Estimate!!Total:!!Male:,Estimate!!Total:!!Male:!!Under 5 years:,Estimate!!Total:!!Male:!!Under 5 years:!!With ...,Estimate!!Total:!!Male:!!Under 5 years:!!No di...,Estimate!!Total:!!Male:!!5 to 17 years:,Estimate!!Total:!!Male:!!5 to 17 years:!!With ...,Estimate!!Total:!!Male:!!5 to 17 years:!!No di...,Estimate!!Total:!!Male:!!18 to 34 years:,...,Estimate!!Total:!!Female:!!18 to 34 years:!!No...,Estimate!!Total:!!Female:!!35 to 64 years:,Estimate!!Total:!!Female:!!35 to 64 years:!!Wi...,Estimate!!Total:!!Female:!!35 to 64 years:!!No...,Estimate!!Total:!!Female:!!65 to 74 years:,Estimate!!Total:!!Female:!!65 to 74 years:!!Wi...,Estimate!!Total:!!Female:!!65 to 74 years:!!No...,Estimate!!Total:!!Female:!!75 years and over:,Estimate!!Total:!!Female:!!75 years and over:!...,Estimate!!Total:!!Female:!!75 years and over:!...
1,Census Tract 101.01; San Francisco County; Cal...,2004,1077,22,0,22,0,0,0,347,...,257,388,0,388,112,70,42,93,89,4
2,Census Tract 101.02; San Francisco County; Cal...,1795,786,29,0,29,64,5,59,209,...,132,449,166,283,123,39,84,119,58,61

In [61]:
# remove the first row
df = df.drop(df.index[0])  
df = df.reset_index(drop=True)
df.head(3)

,Geographic Area Name,Estimate!!Total:,Estimate!!Total:!!Male:,Estimate!!Total:!!Male:!!Under 5 years:,Estimate!!Total:!!Male:!!Under 5 years:!!With a disability,Estimate!!Total:!!Male:!!Under 5 years:!!No disability,Estimate!!Total:!!Male:!!5 to 17 years:,Estimate!!Total:!!Male:!!5 to 17 years:!!With a disability,Estimate!!Total:!!Male:!!5 to 17 years:!!No disability,Estimate!!Total:!!Male:!!18 to 34 years:,...,Estimate!!Total:!!Female:!!18 to 34 years:!!No disability,Estimate!!Total:!!Female:!!35 to 64 years:,Estimate!!Total:!!Female:!!35 to 64 years:!!With a disability,Estimate!!Total:!!Female:!!35 to 64 years:!!No disability,Estimate!!Total:!!Female:!!65 to 74 years:,Estimate!!Total:!!Female:!!65 to 74 years:!!With a disability,Estimate!!Total:!!Female:!!65 to 74 years:!!No disability,Estimate!!Total:!!Female:!!75 years and over:,Estimate!!Total:!!Female:!!75 years and over:!!With a disability,Estimate!!Total:!!Female:!!75 years and over:!!No disability
0,Census Tract 101.01; San Francisco County; Cal...,2004,1077,22,0,22,0,0,0,347,...,257,388,0,388,112,70,42,93,89,4
1,Census Tract 101.02; San Francisco County; Cal...,1795,786,29,0,29,64,5,59,209,...,132,449,166,283,123,39,84,119,58,61
2,Census Tract 102.01; San Francisco County; Cal...,2608,1325,14,0,14,139,34,105,556,...,418,530,23,507,82,0,82,116,69,47

In [62]:
# change Geographic Area Name to Area
df = df.rename(columns={'Geographic Area Name': 'Area'})

In [63]:
# only keep numbers for the area column
df['Area'] = df['Area'].str.replace(r'.*Census Tract\s+', '', regex=True)  # remove everything before tract number
df['Area'] = df['Area'].str.replace(r';.*', '', regex=True)  # remove everything after semicolon
df['Area'] = df['Area'].str.strip()  # remove any extra whitespace
df

,Area,Estimate!!Total:,Estimate!!Total:!!Male:,Estimate!!Total:!!Male:!!Under 5 years:,Estimate!!Total:!!Male:!!Under 5 years:!!With a disability,Estimate!!Total:!!Male:!!Under 5 years:!!No disability,Estimate!!Total:!!Male:!!5 to 17 years:,Estimate!!Total:!!Male:!!5 to 17 years:!!With a disability,Estimate!!Total:!!Male:!!5 to 17 years:!!No disability,Estimate!!Total:!!Male:!!18 to 34 years:,...,Estimate!!Total:!!Female:!!18 to 34 years:!!No disability,Estimate!!Total:!!Female:!!35 to 64 years:,Estimate!!Total:!!Female:!!35 to 64 years:!!With a disability,Estimate!!Total:!!Female:!!35 to 64 years:!!No disability,Estimate!!Total:!!Female:!!65 to 74 years:,Estimate!!Total:!!Female:!!65 to 74 years:!!With a disability,Estimate!!Total:!!Female:!!65 to 74 years:!!No disability,Estimate!!Total:!!Female:!!75 years and over:,Estimate!!Total:!!Female:!!75 years and over:!!With a disability,Estimate!!Total:!!Female:!!75 years and over:!!No disability
0,101.01,2004,1077,22,0,22,0,0,0,347,...,257,388,0,388,112,70,42,93,89,4
1,101.02,1795,786,29,0,29,64,5,59,209,...,132,449,166,283,123,39,84,119,58,61
2,102.01,2608,1325,14,0,14,139,34,105,556,...,418,530,23,507,82,0,82,116,69,47
3,102.02,1761,957,14,0,14,23,0,23,240,...,343,219,15,204,41,1,40,111,24,87
4,103,3791,1657,0,0,0,84,0,84,476,...,670,738,13,725,409,70,339,124,24,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,9805.01,155,23,0,0,0,0,0,0,5,...,0,0,0,0,23,9,14,105,53,52
240,9806,1284,675,85,0,85,97,0,97,184,...,202,230,30,200,21,0,21,27,11,16
241,9809,322,184,10,0,10,0,0,0,86,...,22,69,5,64,4,0,4,8,3,5
242,9901,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
243,9902,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [64]:
# ignore the totals and only look at disability breakdowns
df = df.filter(regex=r'Area|disability', axis=1)
df

,Area,Estimate!!Total:!!Male:!!Under 5 years:!!With a disability,Estimate!!Total:!!Male:!!Under 5 years:!!No disability,Estimate!!Total:!!Male:!!5 to 17 years:!!With a disability,Estimate!!Total:!!Male:!!5 to 17 years:!!No disability,Estimate!!Total:!!Male:!!18 to 34 years:!!With a disability,Estimate!!Total:!!Male:!!18 to 34 years:!!No disability,Estimate!!Total:!!Male:!!35 to 64 years:!!With a disability,Estimate!!Total:!!Male:!!35 to 64 years:!!No disability,Estimate!!Total:!!Male:!!65 to 74 years:!!With a disability,...,Estimate!!Total:!!Female:!!5 to 17 years:!!With a disability,Estimate!!Total:!!Female:!!5 to 17 years:!!No disability,Estimate!!Total:!!Female:!!18 to 34 years:!!With a disability,Estimate!!Total:!!Female:!!18 to 34 years:!!No disability,Estimate!!Total:!!Female:!!35 to 64 years:!!With a disability,Estimate!!Total:!!Female:!!35 to 64 years:!!No disability,Estimate!!Total:!!Female:!!65 to 74 years:!!With a disability,Estimate!!Total:!!Female:!!65 to 74 years:!!No disability,Estimate!!Total:!!Female:!!75 years and over:!!With a disability,Estimate!!Total:!!Female:!!75 years and over:!!No disability
0,101.01,0,22,0,0,0,347,24,493,52,...,0,21,16,257,0,388,70,42,89,4
1,101.02,0,29,5,59,82,127,61,295,22,...,8,150,12,132,166,283,39,84,58,61
2,102.01,0,14,34,105,5,551,27,350,0,...,0,34,61,418,23,507,0,82,69,47
3,102.02,0,14,0,23,0,240,0,478,0,...,0,19,25,343,15,204,1,40,24,87
4,103,0,0,0,84,0,476,0,656,132,...,0,0,91,670,13,725,70,339,24,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,9805.01,0,0,0,0,5,0,0,0,9,...,0,0,4,0,0,0,9,14,53,52
240,9806,0,85,0,97,7,177,12,267,0,...,4,68,4,202,30,200,0,21,11,16
241,9809,0,10,0,0,0,86,14,66,0,...,0,11,3,22,5,64,0,4,3,5
242,9901,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
243,9902,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [65]:
# convert all columns except 'Area' to numeric
numeric_columns = [col for col in df.columns if col != 'Area']

for col in numeric_columns:
    df[col] = pd.to_numeric(df[col], errors='coerce')

/var/folders/bw/7j1wslbj7374yk87kkx7qf5r0000gn/T/ipykernel_15959/2545939369.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = pd.to_numeric(df[col], errors='coerce')

In [66]:
# fill any NaN values with 0
df[numeric_columns] = df[numeric_columns].fillna(0)
df

/var/folders/bw/7j1wslbj7374yk87kkx7qf5r0000gn/T/ipykernel_15959/4134168867.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[numeric_columns] = df[numeric_columns].fillna(0)

,Area,Estimate!!Total:!!Male:!!Under 5 years:!!With a disability,Estimate!!Total:!!Male:!!Under 5 years:!!No disability,Estimate!!Total:!!Male:!!5 to 17 years:!!With a disability,Estimate!!Total:!!Male:!!5 to 17 years:!!No disability,Estimate!!Total:!!Male:!!18 to 34 years:!!With a disability,Estimate!!Total:!!Male:!!18 to 34 years:!!No disability,Estimate!!Total:!!Male:!!35 to 64 years:!!With a disability,Estimate!!Total:!!Male:!!35 to 64 years:!!No disability,Estimate!!Total:!!Male:!!65 to 74 years:!!With a disability,...,Estimate!!Total:!!Female:!!5 to 17 years:!!With a disability,Estimate!!Total:!!Female:!!5 to 17 years:!!No disability,Estimate!!Total:!!Female:!!18 to 34 years:!!With a disability,Estimate!!Total:!!Female:!!18 to 34 years:!!No disability,Estimate!!Total:!!Female:!!35 to 64 years:!!With a disability,Estimate!!Total:!!Female:!!35 to 64 years:!!No disability,Estimate!!Total:!!Female:!!65 to 74 years:!!With a disability,Estimate!!Total:!!Female:!!65 to 74 years:!!No disability,Estimate!!Total:!!Female:!!75 years and over:!!With a disability,Estimate!!Total:!!Female:!!75 years and over:!!No disability
0,101.01,0,22,0,0,0,347,24,493,52,...,0,21,16,257,0,388,70,42,89,4
1,101.02,0,29,5,59,82,127,61,295,22,...,8,150,12,132,166,283,39,84,58,61
2,102.01,0,14,34,105,5,551,27,350,0,...,0,34,61,418,23,507,0,82,69,47
3,102.02,0,14,0,23,0,240,0,478,0,...,0,19,25,343,15,204,1,40,24,87
4,103,0,0,0,84,0,476,0,656,132,...,0,0,91,670,13,725,70,339,24,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,9805.01,0,0,0,0,5,0,0,0,9,...,0,0,4,0,0,0,9,14,53,52
240,9806,0,85,0,97,7,177,12,267,0,...,4,68,4,202,30,200,0,21,11,16
241,9809,0,10,0,0,0,86,14,66,0,...,0,11,3,22,5,64,0,4,3,5
242,9901,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
243,9902,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [67]:
# get columns that contain "With a disability" and "No disability"
with_disability_cols = [col for col in df.columns if 'With a disability' in col]
no_disability_cols = [col for col in df.columns if 'No disability' in col]

# calculate totals for each row
df['Total_With_Disability'] = df[with_disability_cols].sum(axis=1)
df['Total_No_Disability'] = df[no_disability_cols].sum(axis=1)
df['Total_Population'] = df['Total_With_Disability'] + df['Total_No_Disability']

/var/folders/bw/7j1wslbj7374yk87kkx7qf5r0000gn/T/ipykernel_15959/2662964288.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total_With_Disability'] = df[with_disability_cols].sum(axis=1)
/var/folders/bw/7j1wslbj7374yk87kkx7qf5r0000gn/T/ipykernel_15959/2662964288.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total_No_Disability'] = df[no_disability_cols].sum(axis=1)
/var/folders/bw/7j1wslbj7374yk87kkx7qf5r0000gn/T/ipykernel_15959/2662964288.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total_Population'] = df['Total_With_Disability'] + df['Total_No_Disability']

In [68]:
# new df
df = df[['Area', 'Total_With_Disability', 'Total_No_Disability', 'Total_Population']]
df

        Area  Total_With_Disability  Total_No_Disability  Total_Population
0     101.01                    350                 1654              2004
1     101.02                    484                 1311              1795
2     102.01                    230                 2378              2608
3     102.02                     88                 1673              1761
4        103                    435                 3356              3791
..       ...                    ...                  ...               ...
239  9805.01                     84                   71               155
240     9806                     79                 1205              1284
241     9809                     29                  293               322
242     9901                      0                    0                 0
243     9902                      0                    0                 0

[244 rows x 4 columns]

In [69]:
# convert numeric columns to proper data types
numeric_columns = ['Total_With_Disability', 'Total_No_Disability', 'Total_Population']
df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric, errors='coerce')

# create the dictionary in the format you want
result_dict = {
    'disabled': df.set_index('Area')['Total_With_Disability'].to_dict(),
    'not disabled': df.set_index('Area')['Total_No_Disability'].to_dict(), 
    'total': df.set_index('Area')['Total_Population'].to_dict()
}

# convert to JSON and save to file
import json

with open('/Users/agneslu/Desktop/neighborhood-data/data-new/disability.json', 'w') as f:
    json.dump(result_dict, f, indent=2)

print("JSON file saved as 'disability.json'")

JSON file saved as 'disability.json'

/var/folders/bw/7j1wslbj7374yk87kkx7qf5r0000gn/T/ipykernel_15959/3488738064.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric, errors='coerce')